{{#vendorExtensions.x-blocwatch-ParameterAccessor}}request.{{accessor}}(){{/vendorExtensions.x-blocwatch-ParameterAccessor}}{{^vendorExtensions.x-blocwatch-ParameterAccessor}}{{paramName}}{{/vendorExtensions.x-blocwatch-ParameterAccessor}}